<div id="ad" class="anuncio">
    <div class="close">
        <button id="fecharJanela" onclick="getElementById('ad').style.display='none'">X</button>
        <div class="janela">
            <h2 style="color: white; font-size: 20px;font-weight: bold;">{{ page.titlePopup }}</h2>
            <div class="conteudo">
                <img width="250px" src="{{ page.imgPopup | relative_url }}" alt="">
            </div>
            <p>{{ page.contentPopup }}</p>
            <a href="{{ page.ebook }}">Conferir</a>
        </div>
    </div>
</div>

<script defer>
    function displayAd() {
        let anuncio = document.getElementById("ad");
        anuncio.style.display = "flex";
    }

    setTimeout(displayAd, 5000);
</script>