.nav {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 15px;
    background-color: rgb(163, 153, 153);
}

.nav a {
    margin-left: 15px;
    margin-right: 15px;
    color: black;
    text-decoration: underline;
}