body {
    margin: 10px;
}

.posts {
    margin: 0 auto;
}

.post {
    margin: 0 auto;
    width: 80%;
}

.anuncio {
    display: none;
    position: absolute;
    justify-content: center;
    align-items: center;
    width: 95%;
    height: 100vh;
}

.janela {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 500px;
    height: 500px;
    background: radial-gradient(ellipse farthest-corner at 0 140%, #3c84cc 0%, #316dc2 70%, #4e95d3 70%);
    padding: 10px;
    color: white;
}

.janela .conteudo {
    display: flex;
    flex-direction: row;
    margin: 10px;
}

.janela .conteudo img {
    width: 250px;
    height: 250px;
}

.janela a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 50px;
    background-color: rgb(94, 233, 94);
    background: linear-gradient(to right, rgb(152, 35, 230) , rgb(206, 206, 30));
    border: solid 1px green;
    color: white;
    cursor: pointer;
    font-size: 22px;
    text-decoration: none;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;
}

#fecharJanela {
    border-radius: 50%;
    width: 25px;
    height: 25px;
    color: black;
    font-size: 18px;
    cursor: pointer;
}

.close {
    display: flex;
    flex-direction: column;
    align-items:end;
    background-color: rgb(82, 119, 241);
    box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em, rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
}

.propaganda {
    display: flex;
    align-items: center;
    flex-direction: row;
    background-color: rgb(27, 27, 27);
}

.propaganda .texto {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    color: white;
    text-align: center;
    margin: 10px;
}

.propaganda a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 100px;
    background-color: #316dc2;
    color: white;
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
}

.propaganda a:hover {
    background-color: #54a0ec;
}

.propaganda2 {
    display: flex;
    flex-direction: column;
    padding: 5px;
    margin: 0 auto;
    margin-bottom: 10px;
    width: 810px;
    height: 88px;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    background: radial-gradient(ellipse farthest-corner at 0 140%, #3c84cc 0%, #316dc2 70%, #4e95d3 70%);
    background-image: url("/assets/img/fale-ingles-820-90.jpeg");
}

.propaganda2 a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 105px;
    height: 30px;
    cursor: pointer;
    color: white;
    font-weight: bold;
    border: none;
    background-color: rgb(152, 35, 230);
    border: solid 2px #4e95d3;
    text-decoration: none;
    margin-top: 50px;
}

@media (max-width: 900px) {
    .close {
        width: 90%;
    }
    .janela {
        width: 94%;
        height: 520px;
    }
    .propaganda {
        width: 100%;
        flex-direction: column;
    }

    .propaganda2 {
        width: 370px;
        font-size: 14px;
        background-image: url("/assets/img/fale-ingles-380-90.jpeg");
    }

    h1 {
        font-size: 22px;
    }
}