<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ '/assets/main.css' | relative_url }}">
    <link rel="stylesheet" href="{{ '/assets/stylesheets/personalized.css' | relative_url }}">
    <link rel="stylesheet" href="{{ '/assets/stylesheets/nav.css' | relative_url }}">
    <title>{{ page.title }}</title>
</head>
<body>
    {% include nav.html %}
    <div class="posts">
        {{ content }}
    </div>
    {% include google-analytics.html %}
</body>
</html>